@use 'variables';
@use 'hero';
@use 'characters';
@use 'movies';
@use 'resume';
@use 'disney';
@use 'notices';
@use 'footer';

@font-face {
    font-family: sst;
    src: url(../../assets/fonts/SSTLight.TTF);
    font-weight: 100;
    color: variables.$mainTextColor;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: variables.$backgroundColor;
    font-family: sst;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    font-weight: 100;
    color: variables.$mainTextColor;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    font-weight: 100;
    color: variables.$mainTextColor;
}

.text--big {
    @include text(18px);
}


.text {
    @include text;
}


.text--small {
    @include text(12px);
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}
.title--small {
    @include title(28px);
}

.link-text {

    @include text(18px);
    color: variables.$mainTextColor;
}